@{
    ViewData["Title"] = "Home Page";
}

<header class="imgWrap">
    <img src="~/pic/@(ViewBag.layout.S_no)/index/banner.jpg" onerror="this.src='/images/banner.jpg'" alt="" width="100%" height="auto">
</header>
<div class="content">
    @foreach (var sys in Model)
    {
        if (sys.SID == null && sys.PID == null)
        {
            <div class="item">
                <h2>@sys.Name</h2>

                @foreach (var item in Model.Where(x => x.SID == sys.ID))
                    {
                        if (item.PID == null)
                        {
                        <h4>
                            <i></i>@item.Name
                        </h4>
                            <ul>
                                @foreach (var i in Model.Where(x => x.PID == item.ID))
                                {
                                    if (i.ID == 46)
                                    {
                                        i.Url = i.Url + "?" + ViewBag.MemberInfo;
                                    }
                                    <li>
                                        <a href="@i.Url">
                                            <img src="@i.ImgUrl" alt="">
                                        </a>
                                        <b>@i.Name</b>
                                    </li>
                                }
                            </ul>
                    }

                }
            </div>
        }

    }
</div>
<footer>
    <div>
        @if (string.IsNullOrEmpty(ViewBag.introduction))
            {
            <p>策城软件系列产品主要有：移动微信平台应用系统、水上乐园管理系统、温泉水疗管理系统、桑拿沐浴管理系统、酒店管理系统、餐饮管理系统、集团会员管理系统、人事工资管理系统、仓库进销存管理系统等</p>
        }
        else
        {
            <p>@ViewBag.introduction</p>
        }
    </div>
</footer>
<nav>
    <a href="/CCIndex/Index" class="linkBlue">
        <img src="~/images/img/home-in.png" alt="">主页
    </a>
    <a href="/NewOrder/Index">
        <img src="~/images/img/orderlist.png" alt="">我的订单
    </a>
    <a href="/Home/Hand">
        <img src="~/images/img/yuyue.png" alt="">账单支付
    </a>
    <a href="/Home/MyInformation">
        <img src="~/images/img/vipcenter.png" alt="">个人中心
    </a>
</nav>
